
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Personas naturales</h3> 
                    <button type="button" class="btn btn-success" (click)="create()">Crear</button>   
                </div>
               <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nacionalidad</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Cliente_id</th>
                            <th scope="col">Usuario_id</th>
                          <th scope="col">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let actual of personanaturales">
    
                            <td>{{actual.id}}</td>
                            <td>{{actual.nacionalidad}}</td>
                            <td>{{actual.genero}}</td>
                            <td>{{actual.cliente_id}}</td>
                            <td>{{actual.usuario_id}}</td>
  
                            <td>
                                <button type="button" class="btn btn-success" (click)="view(actual.id)">Visualizar</button>
                                <button type="button" class="btn btn-warning" (click)="update(actual.id)">Editar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(actual.id)">Eliminar</button>
                            </td>
                        </tr>
                      </tbody>
                </table>
               </div>
            </div>
        </div>
    </div>
</div>
