
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Contrato_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="contrato_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('contrato_id')?.errors}">
                    <option [value]="contrato.id"  *ngFor="let contrato of contratos" >{{contrato.id}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Vehiculo_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="vehiculo_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('vehiculo_id')?.errors}">
                    <option [value]="vehiculo.id"  *ngFor="let vehiculo of vehiculos" >{{vehiculo.id}}. {{vehiculo.matricula}} /{{vehiculo.modelo}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Lugar_inicio:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="lugar_inicio" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('lugar_inicio')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Lugar_fin:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="lugar_fin" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('lugar_fin')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Distancia:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="distancia" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('distancia')?.errors}">
            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit" >Actualizar</button>
                      </div>
                  </div>
                  <br>
                  <!-- Botón para ver los lotes -->
                  <div class="row" *ngIf="mode === 1">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button class="btn btn-primary btn-block" (click)="showlots(ruta.id)">Ver lotes</button>
                    </div>
                </div>
                </div>


            </div>
        </div>
    </div>
    </form>
</div>
