<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" [disabled]="mode === 1" class="form-control" formControlName="nombre" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('nombre')?.errors}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Cantidad:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" [disabled]="mode === 1"  class="form-control" formControlName="cantidad" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('cantidad')?.errors}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Peso:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" [disabled]="mode === 1" class="form-control" formControlName="peso" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('peso')?.errors}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>lote_id:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" [disabled]="mode === 1" formControlName="lote_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('lote_id')?.errors}">
                                <option [value]="lote.id"  *ngFor="let lote of lotes" >{{lote.id}} \ {{lote.tipo_carga}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>cliente_id</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" [disabled]="mode === 1" formControlName="cliente_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('cliente_id')?.errors}">
                                <option [value]="cliente.cliente_id"  *ngFor="let cliente of clientes" >{{cliente.cliente_id}}.  {{cliente.usuario_name}} </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                            <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </form> 
</div>