
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Direccion id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="direccion_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('direccion_id')?.errors}">
                    <option [value]="direccion.id"  *ngFor="let direccion of direcciones" >{{direccion.id}}. {{direccion.barrio}} {{direccion.tipo_calle}} {{direccion.calle}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Ruta_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="ruta_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('ruta_id')?.errors}">
                    <option [value]="ruta.id"  *ngFor="let ruta of rutas" >{{ruta.id}}. {{ruta.lugar_inicio}} -> {{ruta.lugar_fin}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Lote_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="lote_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('lote_id')?.errors}">
                    <option [value]="lote.id"  *ngFor="let lote of lotes" >{{lote.id}}. {{lote.tipo_carga}} {{lote.peso}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Fecha de Entrega:</label>
            </div>
            <div class="col-8">
                <input 
                    type="date" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    formControlName="fecha_entrega" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('fecha_entrega')?.errors}">
            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="col-4">
                <label>Distancia:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="distancia" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('distancia')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Estado:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="estado" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('estado')?.errors}">
                    <option value="">Seleccione un estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Completado">Completado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Orden de paso:</label>
            </div>
            <div class="col-8">
                <input 
                type="number" 
                class="form-control" 
                [disabled]="mode === 1"
                formControlName="orden_de_paso" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('orden_de_paso')?.errors}">
            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    </form>
</div>
