
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode==1" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled [(ngModel)]="direccionruta.id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Direccion_id:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccionruta.direccion_id">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Ruta_id:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccionruta.ruta_id">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Lote_id:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccionruta.lote_id">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Fecha de Entrega:</label>
            </div>
            <div class="col-8">
                <!--
                <input 
                    type="date" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    [ngModel]="mode === 2 ? direccionruta.fechaEntrega : direccionruta.fecha_entrega"
                    (ngModelChange)="mode === 2 ? direccionruta.fechaEntrega = $event : direccionruta.fecha_entrega = $event"> 
                -->
                <input 
                    type="date" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    [ngModel]="mode === 1 ? direccionruta.fecha_entrega : direccionruta.fechaEntrega"
                    (ngModelChange)="mode === 1 ? direccionruta.fecha_entrega = $event : direccionruta.fechaEntrega = $event"> 
            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="col-4">
                <label>Distancia:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccionruta.distancia">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Estado:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccionruta.estado">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Orden de paso:</label>
            </div>
            <div class="col-8">
                <input 
                type="number" 
                class="form-control" 
                [disabled]="mode === 1"
                [ngModel]="mode === 2 ? direccionruta.ordenDePaso : direccionruta.orden_de_paso"
                (ngModelChange)="mode === 2 ? direccionruta.ordenDePaso = $event : direccionruta.orden_de_paso = $event">            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" (click)="create()">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
</div>
