<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                        <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                        <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                    </div>
                    <div class="card-body">
                        <div *ngIf="mode!=2" class="row">
                            <div class="col-4">
                                <label>Id:</label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" disabled formControlName="id">
                            </div>
                        </div>
                        <br>

                        <!-- Campo Nacionalidad -->
                        <div class="row">
                            <div class="col-4">
                                <label>Nacionalidad:</label>
                            </div>
                            <div class="col-8">
                                <select 
                                  class="form-control" 
                                  [disabled]="mode === 1" 
                                  formControlName="nacionalidad" 
                                  [ngClass]="{'inputInvalido': trySend && theFormGroup.get('nacionalidad')?.errors}">
                                    <option value="colombiano">Colombiano</option>
                                    <option value="venezolano">Venezolano</option>
                                    <option value="argentino">Argentino</option>
                                    <option value="chileno">Chileno</option>
                                    <option value="peruano">Peruano</option>
                                    <option value="mexicano">Mexicano</option>
                                    <option value="ecuatoriano">Ecuatoriano</option>
                                    <option value="brasilero">Brasileño</option>
                                    <!-- Agrega más nacionalidades según sea necesario -->
                                </select>
                            </div>
                        </div>
                        <br />

                        <!-- Campo Género -->
                        <div class="row">
                            <div class="col-4">
                                <label>Género:</label>
                            </div>
                            <div class="col-8">
                                <select 
                                  class="form-control" 
                                  [disabled]="mode === 1" 
                                  formControlName="genero" 
                                  [ngClass]="{'inputInvalido': trySend && theFormGroup.get('genero')?.errors}">
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="no_binario">No Binario</option>
                                    <option value="otro">Otro</option>
                                    <!-- Agrega más opciones de género si es necesario -->
                                </select>
                            </div>
                        </div>
                        <br />

                        <!-- Campo Cliente_id -->
                        <div class="row">
                            <div class="col-4">
                                <label>Cliente_id:</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control" [disabled]="mode === 1" formControlName="cliente_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('cliente_id')?.errors}">
                                    <option [value]="cliente.id" *ngFor="let cliente of clientes">{{cliente.id}}. {{cliente.preferencias}}</option>
                                </select>
                            </div>
                        </div>
                        <br />

                        <!-- Campo Usuario_id -->
                        <div class="row">
                            <div class="col-4">
                                <label>Usuario_id:</label>
                            </div>
                            <div class="col-8">
                                <select class="form-control" [disabled]="mode === 1" formControlName="usuario_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('usuario_id')?.errors}">
                                    <option [value]="usuario._id" *ngFor="let usuario of usuarios">{{usuario._id}}. {{usuario.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8">
                                <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                                <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
