
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Cuotas</h3> 
                    <button type="button" class="btn btn-success" (click)="create()">Crear</button>   
                </div>
               <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Id</th>
<th scope="col">Contrato_id</th>
<th scope="col">Factura_id</th>
<th scope="col">Monto</th>
<th scope="col">Tasa_interes</th>
<th scope="col">Fecha_generacion</th>
<th scope="col">Fecha_vencimiento</th>

                          <th scope="col">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let actual of cuotas">
                            
    <td>{{actual.id}}</td>
  
    <td>{{actual.contrato_id}}</td>
  
    <td>{{actual.factura_id}}</td>
  
    <td>{{actual.monto}}</td>
  
    <td>{{actual.tasa_interes}}</td>
  
    <td>{{actual.fecha_generacion | date: 'yyyy-MM-dd' }}</td>
  
    <td>{{actual.fecha_vencimiento | date: 'yyyy-MM-dd' }}</td>
  
                            <td>
                                <button type="button" class="btn btn-success" (click)="view(actual.id)">Visualizar</button>
                                <button type="button" class="btn btn-warning" (click)="update(actual.id)">Editar</button>
                                <button type="button" class="btn btn-danger" (click)="delete(actual.id)">Eliminar</button>
                            </td>
                        </tr>
                      </tbody>
                </table>
               </div>
            </div>
        </div>
    </div>
</div>
