
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()"> 
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Matricula:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="matricula" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('matricula')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Modelo:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="modelo" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('modelo')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Capacidad:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="capacidad" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('capacidad')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Tipo de carga:</label>
            </div>
            <div class="col-8">
                <select 
                class="form-control" 
                [disabled]="mode === 1" 
                formControlName="tipo_carga" 
                [ngClass]="{'inputInvalido': trySend && theFormGroup.get('tipo_carga')?.errors}">
                <option value="mercancia_general">Mercancía General</option>
                <option value="productos_perecederos">Productos Perecederos</option>
                <option value="quimicos">Productos Químicos</option>
                <option value="material_construccion">Material de Construcción</option>
                <option value="maquinaria">Maquinaria</option>
                <option value="vehiculos">Vehículos</option>
                <option value="animales">Animales</option>
                <option value="productos_farmaceuticos">Productos Farmacéuticos</option>
                <option value="ropa">Ropa</option>
                <option value="electrodomesticos">Electrodomésticos</option>
                <option value="muebles">Muebles</option>
                <option value="alimentos_no_perecederos">Alimentos No Perecederos</option>
                <option value="otros">Otros</option>
            </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Longitud:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="longitud" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('longitud')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Latitud:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="latitud" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('latitud')?.errors}">
            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    </form>
</div>
