
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode==1" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Costo:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="costo" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('costo')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Servicio_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="servicio_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('servicio_id')?.errors}">
                    <option [value]="servicio.id"  *ngFor="let servicio of servicios" >{{servicio.id}}. {{servicio.nombre}}</option>
                </select>
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Conductor_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="conductor_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('conductor_id')?.errors}">
                    <option [value]="conductor.id"  *ngFor="let conductor of conductores" >{{conductor.id}}. {{conductor.usuario_name}}</option>
                </select>
            </div>

        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Duenios_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="duenios_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('duenios_id')?.errors}">
                    <option [value]="duenio.id"  *ngFor="let duenio of duenios" >{{duenio.id}}. {{duenio.usuario_name}}</option>
                </select>
            </div>
            
        </div> 
        <br/>
        <div class="row">
            <div class="col-4">
                <label>Factura_id:</label>
            </div>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="factura_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('factura_id')?.errors}">
                    <option [value]="null">Ninguna factura</option>  <!-- Opción para valor nulo -->
                    <option [value]="factura.id"  *ngFor="let factura of facturas">{{factura.id}}</option>
                </select>
            </div>
           
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    </form>
</div>
