<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()"> 
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Tipo de carga:</label>
                        </div>
                        <div class="col-8">
                            <!-- Cambia el binding [(ngModel)] según el modo -->
                            <select class="form-control" [disabled]="mode === 1" formControlName="tipo_carga" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('tipo_carga')?.errors}">
                                <option value="alimentosPerecederos">Alimentos perecederos</option>
                                <option value="refrigerada">Refrigerada</option>
                                <option value="liquidos">liquidos</option>
                                <option value="general">General</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Peso:</label>
                        </div>
                        <div class="col-8">
                            <input type="number" [disabled]="mode === 1" class="form-control" formControlName="peso" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('peso')?.errors}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <label>Ruta id:</label>
                        </div>
                        <div class="col-8">
                            <select class="form-control" [disabled]="mode === 1" formControlName="ruta_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('ruta_id')?.errors}">
                                <option [value]="ruta.id"  *ngFor="let ruta of rutas" >{{ruta.id}}. {{ruta.lugar_inicio}} -> {{ruta.lugar_fin}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-8">
                            <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                            <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
