<div>
<form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="card shadow">
      <div class="card-header">
        <h3 *ngIf="mode === 1">Visualizar</h3>
        <h3 *ngIf="mode === 2">Crear</h3>
        <h3 *ngIf="mode === 3">Actualizar</h3>
      </div>
      <div class="card-body">
        <div *ngIf="mode!=2"  class="form-group">
          <label>Id:</label>
          <input type="text" class="form-control" disabled formControlName="id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('id')?.errors}">
        </div>
      <br/>
        <div class="form-group">
          <label>Preferencias:</label>
          <input
            type="text"
            class="form-control"
            formControlName="preferencias"
            [ngClass]="{'inputInvalido': trySend && theFormGroup.get('preferencias')?.errors}"
          />
        </div>
  
        <div *ngIf="mode==2">
          <label>¿Agregar Persona Natural?</label>
          <button class="btn btn-primary" type="button" (click)="togglePersonaNatural()">
            {{ showPersonaNaturalForm ? 'Ocultar' : 'Agregar' }}
          </button>
        </div>
        
        <div *ngIf="showPersonaNaturalForm">
          <h5>Datos de Persona Natural</h5>
          <div class="form-group">
            <label>Nacionalidad:</label>
            <input
              type="text"
              class="form-control"
              formControlName="nacionalidad"
              [ngClass]="{'inputInvalido': trySend && theFormGroup.get('nacionalidad')?.errors}"
            />
          </div>
          <div class="form-group">
            <label>Género:</label>
            <input
              type="text"
              class="form-control"
              formControlName="genero"
              [ngClass]="{'inputInvalido': trySend && theFormGroup.get('genero')?.errors}"
            />
          </div>
          <div class="form-group">
            <label>Usuario ID:</label>
            <div class="col-8">
                <select class="form-control" [disabled]="mode === 1" formControlName="usuario_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('usuario_id')?.errors}">
                    <option [value]="usuario._id"  *ngFor="let usuario of usuarios" >{{usuario._id}}. {{usuario.name}}</option>
                </select>
            </div>
          </div>
        </div>
  
        <button *ngIf="mode === 2" class="btn btn-success" type="submit">Crear</button>
        <button *ngIf="mode === 3" class="btn btn-success" type="submit">Actualizar</button>
      </div>
    </div>
  </form>
</div>
  