
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <form [formGroup]="theFormGroup" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode!=2" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled formControlName="id" >
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Barrio:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="barrio" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('barrio')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Tipo_calle:</label>
            </div>
            <div class="col-8">
                    <input 
                    type="text" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    formControlName="tipo_calle" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('tipo_calle')?.errors}">
            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="col-4">
                <label>Calle:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="calle" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('calle')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Numero:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" formControlName="numero" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('numero')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Piso:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" formControlName="piso" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('piso')?.errors}">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Municipio id:</label>
            </div>
            <div class="col-8">
                <input type="number" value="1" class="form-control" disabled formControlName="municipio_id" [ngClass]="{'inputInvalido': trySend && theFormGroup.get('municipio_id')?.errors}">
            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" type="submit">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" type="submit">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    </form>
</div>
