
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 *ngIf="mode==1" class="mb-0">Visualizar</h3>
                    <h3 *ngIf="mode==2" class="mb-0">Crear</h3>
                    <h3 *ngIf="mode==3" class="mb-0">Actualizar</h3>
                </div>
                <div class="card-body">
                    <div *ngIf="mode==1" class="row">
                        <div class="col-4">
                            <label>Id:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" disabled [(ngModel)]="direccion.id">
                        </div>
                    </div>
                    <br>
                    
        <div class="row">
            <div class="col-4">
                <label>Barrio:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccion.barrio">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Tipo_calle:</label>
            </div>
            <div class="col-8">
                <!--
                <input 
                    type="text" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    [ngModel]="mode === 2 ? direccion.tipoCalle : direccion.tipo_calle"
                    (ngModelChange)="mode === 2 ? direccion.tipoCalle = $event : direccion.tipo_calle = $event"> -->

                    <!-- -->
                    <input 
                    type="text" 
                    class="form-control" 
                    [disabled]="mode === 1"
                    [ngModel]="mode === 1 ? direccion.tipo_calle : direccion.tipoCalle"
                    (ngModelChange)="mode === 1 ? direccion.tipo_calle = $event : direccion.tipoCalle  = $event">

            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="col-4">
                <label>Calle:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccion.calle">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Numero:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccion.numero">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Piso:</label>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccion.piso">
            </div>
        </div> 
        <br/>
        
        <div class="row">
            <div class="col-4">
                <label>Municipio_id:</label>
            </div>
            <div class="col-8">
                <input type="number" class="form-control" [disabled]="mode === 1" [(ngModel)]="direccion.municipio_id">
            </div>
        </div> 
        <br/>
        
                    <div class="row">
                      <div class="col-4"></div>
                      <div class="col-8">
                          <button *ngIf="mode==2" class="btn btn-success btn-block" (click)="create()">Crear</button>
                          <button *ngIf="mode==3" class="btn btn-success btn-block" (click)="update()">Actualizar</button>
                      </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
</div>
